* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --background-color: #09090B;
    --surface-color: #18181B;
    --stroke-color: #27272A;
    --text-color-secondary: #A1A1AA;
    --text-color-primary: #F4F4F5;


    --brand-color-primary: #F7B733;
    --brand-color-secondary: #FC4A1A;

    --brand-gradient: linear-gradient(90deg, #FC4A1A 100%, F7B733 100%)
}

