#smartphones-img {
    margin-top: 5rem;
    background: url(../assets/images/illustration.svg) top/cover;
}

#smartphones-img, #about {
    background-color: var(--surface-color);
}

section {
    & header {
        & span {
            display: block;
            font: var(--fw-md) var(--fs-sm)/100% var(--ff-sans);
            letter-spacing: 0.08em;
            text-transform: uppercase;

            color: var(--brand-color-primary);
        }

        & h2 {
            margin-top: .5rem;
        }
    }

    & p {
        font: var(--fs-base);
        margin-top: .5rem;
        color: var(--text-color-secondary);
    }
}

@media (width>= 80em) {
    #smartphones-img {
        display: none;
    }
}

#about {
    & .even-columns {
        gap: 2rem;
    }
}